div#player-field{
	background-image: url(../resources/football_pitch.png); 
	width: 532px; 
	height: 760px; 
	border: 1px solid black;
	margin-left: 10px;
}


div.defenders {
	height: 253px;
	width: 100%
};
div.midfielders {
	height: 253px;
	width: 100%
};
div.forwards {
	height: 253px;
	width: 100%
};

span.field-row{
	height: 190px;
	margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
};


	
/*
div.defenders {
    margin-top: 195px;
    margin-bottom: 10px;
    margin-left: 35px;
}


div.midfielders {
    margin-top: 195px;
    margin-bottom: 10px;
    margin-left: 35px;
}

div.forwards {
    margin-top: 195px;
    margin-bottom: 10px;
    margin-left: 45px;
}

.player-box-dropped{
	float: left;
	display: inline-block;
};
*/


